_targets/
pdfs/
output/
ignore/
old/


scripts/*
!scripts/resources/*
!scripts/*.qmd
!scripts/styles.css
!scripts/*.R


*.pdf
*.zip
Rplot.pdf
.DS_Store
*.Rapp.history
*.Rhistory
*.RData
*tmp*
TODO.*md
.Rproj.user
.Rproj